@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400&display=swap');

//Variables
$header-font: 'Pacifico', cursive;
$main-font: 'Poppins', sans-serif;
$background: #ffffff;
$secondary-color: #B4EBCA;
$font-color: #021327;
$accent-color: #EDCDD8;

body {
    background-color: $background;
    color: $font-color;
    font-family: $main-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;

    h1,
    h2 {
        font-family: $header-font;
        color: $secondary-color;
        text-shadow: 1px 1px 2px #000000; 
    }
}

.navbar {
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    margin: 10px 0;
    ul{
        margin: 0;
    }
    li{
        display: inline-block;
        margin: 0 15px;
    }
    a {
        text-decoration: none;
        color: $font-color;
        &:hover {
            text-decoration: underline $secondary-color ;
        }
    }
}

.about{
    padding: 0 60px;
    .about-content {
        display: flex;
        align-items: center;
    }
    .about-img {
        width: 15vw;
        border-radius: 100%;
    }
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .gallery-img {
        height: 40vh;  
        margin: 5px;
    }
}


.form-container {
    background-color: $secondary-color;
    width: 40vw;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    text-align: left;
}

.set {
    margin: 15px;
    span {
        font-size: 0.8rem;
        font-style: italic;
    }
}


