@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400&display=swap");
body {
  background-color: #CFEDE3;
  color: #021327;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body h1,
body h2 {
  font-family: "Pacifico", cursive;
}

.navbar {
  background-color: #E3F3ED;
}

.navbar li {
  display: inline-block;
  margin: 0 15px;
  padding: 5px;
}

.navbar li:hover {
  background-color: #EDCDD8;
}

.navbar a {
  text-decoration: none;
  color: #021327;
}
